p,
h1 {
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  justify-content: center;
  background-color: grey;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 1024px;
}

/********** Add Section *********/
.project-row {
  display: flex;
  gap: 15px;
  padding: 25px;
}

#project-form {
  display: none;
}

.tasks-row {
  display: none;
  justify-content: space-between;
  gap: 15px;
  padding: 25px;
}
/********** View Section *********/
.view-project-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  background-color: rgb(193, 195, 196);
}

.view-tasks-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  background-color: rgb(193, 195, 196);
}

.project-card {
  padding: 10px;
  background-color: rgb(90, 90, 90);
  cursor: pointer;
}

#view-tasks-list {
  display: none;
}

#project-task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-name,
.task-description {
  width: 100%;
}

.priority-row {
  display: inline-block;
}

.task-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.task-info {
  display: flex;
  flex-direction: column;
}
.task-name {
  font-size: 1.1rem;
}
.task-checkbox {
  width: 20px;
  height: 20px;
}
.task-date-priority-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.line-through {
  text-decoration: line-through;
}
@media only screen and (max-width: 500px) {
  .priority-row {
    display: block;
  }
}
