:root {
    --lightgrey: rgb(233, 233, 233);
    --darkblue: #252B35;
}

body {
    font-family: Roboto, sans-serif;
    background-color: rgb(233, 233, 233);
}

body,
ul,
img,
h3,
h2,
p {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited {
    cursor: pointer;
    text-decoration: none;
}



ul {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.tiny-text {
    font-size: 0.6rem;
}

.small-text {
    font-size: 0.8rem;
}

.light-grey {
    color: darkgrey
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.large-field-height {
    height: 200px;
}

/************ NAV BAR ************/
.nav {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkblue);
}

.nav-right p,
.nav-right a,
.nav-left h1 {
    color: white;
    font-weight: bold;
}

.nav-right {
    display: flex;
    gap: 25px;
}

/************ MAIN CONTENT ************/
.main-content {
    background-color: var(--lightgrey);
    padding: 25px;
}

/************ FORM PAGE ************/

.form-page {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-page a {
    color: #145ca8;
    font-weight: bold;
}

.form-container {
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    max-width: 1000px;
}



/******** FORM LEFT ********/
.form-left {
    background-color: #1F262D;
    padding: 25px;
    height: 700px;
}

.form-left h1 {
    font-size: 2.8rem;
    color: #00FFFF
}

.form-left p {
    color: white
}

.color-block {
    margin-top: 40px;
    background-color: #00FFFF;
    height: 4px;
    width: 75px;
}

/******** FORM RIGHT ********/
.form-right {
    background-color: white;
    padding: 25px 50px 25px 50px;
}

.form-right-header {
    padding-bottom: 35px;
}

.form-right-header h2 {
    padding-bottom: 15px;
}

.field {
    padding-bottom: 10px;
}

.form-field {
    padding-left: 5px;
    font-size: 1rem;
}

.form-right-bottom {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
}

.form-button {
    border: none;
    cursor: pointer;
    background-color: #145ca8;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 75px;
    float: right;
    margin-top: 25px;
}

@media only screen and (max-width: 800px) {
    .form-left {
        display: none;
    }

    .form-container {
        display: grid;
        grid-template-columns: 1fr;
        min-width: 500px;
        padding: 50px;
    }

    .form-button {
        width: 100%;
    }
}


/************ EVENT CONTENT ************/
.event-page {
    display: flex;
    flex-direction: column;

}


.event-container {
    align-self: center;

    min-width: 1000px;
}

.event-top {
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--darkblue);
    padding: 25px;
    gap: 75px;
}

.event-bottom {
    background-color: white;
    min-height: 250px;
    padding: 25px;
}

.event-bottom-header {
    padding-bottom: 25px;
}