.form_section {
  display:flex;
  flex-direction: column;
  max-width:300px;
}

.library_row{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
}
.book_card{
  border-radius: 5px;
  padding:5px 5px 5px 15px;
  background-color: grey;
  width:200px;
}