<p style="color: green"><%= notice %></p>
<h1>Kittens</h1>
<div id="kittens">
  <% @kittens.each do |kitten| %>
    <p>
      <%= link_to "Show #{kitten.name}", kitten %>
    </p>
  <% end %>
</div>
<%= link_to "New kitten", new_kitten_path %>
