<%= stylesheet_link_tag "styles" %>
<div class = "container">
  <%= render partial: "layouts/navbar" %>
  <div class ="flight-page">
    <div class="flight-container">
      <div class="booking-top">
        <h3>Bookings</h3>
      </div>
      <%= render partial: "booking_index"%>
    </div>
  </div>
</div>
</div>
